* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    color: black;
}

#formButtons {
    display: flex;
    justify-content: space-between;
}

#postJob,
#postJobButt,
#refresh, #cancel {
    background-color: rgba(73, 73, 255, 0.966);
    color: white;
    padding: .7rem;
    margin: .7rem;
    border-radius: .6rem;
    border: none;
}

#postJob:hover,
#postJobButt:hover,
#refresh:hover {
    background-color: rgba(98, 98, 255, 0.945);
    cursor: pointer;
}

#postJobForm {
    position: absolute;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    width: 30vw;
    overflow-y: scroll;
    height: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

#postJobForm input,
#postJobForm textarea {
    padding: .5rem;
    margin: .5rem 0rem .5rem 0rem;
    border-radius: 0.6rem;
    outline: none;
    border: 2px solid rgba(45, 49, 255, 0.6);
}

#postJobForm input:focus,
#postJobForm textarea:focus {
    border: 2px solid blue;
}

#postJobForm textarea {
    height: 5rem;
}

#cancel{
    background-color: rgb(253, 62, 62);
}

#cancel:hover{
    background-color: rgb(255, 86, 86);
    cursor: pointer;
}

#sidebar{
    position: fixed;
    background-color: rgb(56, 56, 56);
    padding: 1rem;
    height: 100vh;
}

#sidebar ul li{
    list-style-type: none;
    padding: .7rem;
    border-radius: .6rem;
    margin: .3rem;
    background-color: rgb(71, 71, 71);
}

#sidebar ul li:hover, #sidebar ul .active{
    background-color: rgb(255, 190, 68);
    cursor: pointer;
}

.inactive a, .inactive{
    color: rgb(230, 230, 230);
}

.inactive:hover, .inactive:hover > a{
    color: rgb(17, 17, 17);
}

#content {
    margin-left: 10vw;
}

#details {
    z-index: 2;
}

#appliedDetails {
    z-index: 1;
}

#details,
#appliedDetails {
    background-color: rgb(243, 243, 243);
    margin: 1rem;
    width: 80vw;
    position: absolute;
    border-radius: 0.6rem;
}

#details tr:nth-child(even),
#appliedDetails tr:nth-child(even) {
    background-color: rgb(209, 209, 209);
}

#details tr,
#appliedDetails tr {
    border-bottom: 1px solid rgb(187, 187, 187);
}

#details tr:last-child {
    border-bottom: none;
}

#details td,
#appliedDetails td {
    text-align: center;
}

#details,
#appliedDetails,
#details th,
#appliedDetails th,
#details td,
#appliedDetails td {
    padding: 1rem;
    border-collapse: collapse;
}

#details tr {
    text-align: center;
}