* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);
    font-size: 14pt;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

button{
    border: none;
}

.infoHolder{
    display: grid;
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
    justify-items: center;
    align-items: center;
}

.infoHolder .info{
    margin: 4rem;
    padding: 4rem;
    background-color: rgba(221, 221, 221, 0.678);
    backdrop-filter: blur(24px);
    border-radius: .6rem;
}


#formButtons {
    display: flex;
    justify-content: space-between;
}

#postJob,
#postJobButt,
#refresh, #cancelAndRefresh {
    background-color: rgba(73, 73, 255, 0.966);
    color: white;
    padding: .7rem;
    margin: .7rem;
    border-radius: .6rem;
    border: none;
}

#postJob:hover,
#postJobButt:hover,
#refresh:hover {
    background-color: rgba(98, 98, 255, 0.945);
    cursor: pointer;
}

#postJobForm {
    position: absolute;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    width: 30vw;
    overflow-y: scroll;
    height: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

#postJobForm input,
#postJobForm textarea {
    padding: .5rem;
    margin: .5rem 0rem .5rem 0rem;
    border-radius: 0.6rem;
    outline: none;
    border: 2px solid rgba(45, 49, 255, 0.6);
}

#postJobForm input:focus,
#postJobForm textarea:focus {
    border: 2px solid blue;
}

#postJobForm textarea {
    height: 5rem;
}

#cancelAndRefresh{
    background-color: rgb(253, 62, 62);
}

#cancelAndRefresh:hover{
    background-color: rgb(255, 86, 86);
    cursor: pointer;
}

#sidebar{
    position: fixed;
    background-color: rgb(56, 56, 56);
    padding: 1rem;
    height: 100vh;
}

#sidebar ul li{
    list-style-type: none;
}

#yourJobs, #applicants, #sidebar ul li a p{
    padding: .7rem;
    border-radius: .6rem;
    margin: .3rem 0rem .3rem 0rem;
    background-color: rgb(71, 71, 71);
}

#yourJobs:hover, #applicants:hover, #sidebar ul li a p:hover, #sidebar ul .active{
    background-color: rgb(255, 190, 68);
    color: black;
    cursor: pointer;
}

.active{
    background-color: rgb(255, 190, 68);
    color: rgb(0, 0, 0);
}

.inactive a p, .inactive{
    color: rgb(230, 230, 230);
}

#content {
    margin-left: 15vw;
}

#appliedDetails {
    visibility: hidden;
}

#details,
#appliedDetails, #content p {
    background-color: rgb(243, 243, 243);
    margin: 1rem;
    width: 80vw;
    position: absolute;
    border-radius: 0.6rem;
}

#details tr:nth-child(even),
#appliedDetails tr:nth-child(even) {
    background-color: rgb(209, 209, 209);
}

#details tr,
#appliedDetails tr {
    border-bottom: 1px solid rgb(187, 187, 187);
}

#details tr:last-child, #appliedDetails tr:last-child{
    border-bottom: 0px solid transparent;
}

#details tr:last-child td:last-child, #appliedDetails tr:last-child td:last-child {
    border-bottom-right-radius: .6rem;
}

#details tr:last-child td:first-child, #appliedDetails tr:last-child td:first-child {
    border-bottom-left-radius: .6rem;
}

#details td,
#appliedDetails td {
    text-align: center;
}

#details,
#appliedDetails,
#details th,
#appliedDetails th,
#details td,
#appliedDetails td {
    padding: 1rem;
    border-collapse: collapse;
}

#details tr {
    text-align: center;
}

#mobMenu, #hiddenMenu {
    display: none;
}

@media screen and (max-width:900px) {
    #navBar {
        top: 0;
        position: sticky;
        padding: .7rem 0rem .7rem 0rem;
    }

    #hiddenMenu a {
        color: rgb(255, 176, 57);
        text-decoration: none;
        padding: 0.4rem;
        border-radius: 0.5rem;
    }
    
    #hiddenMenu a:hover {
        color: rgb(255, 137, 58);
    }

    #hiddenMenu {
        display: inline;
        height: 100vh;
        width: 50vw;
        position: fixed;
        margin-left: -60vw;
        background-color: rgba(20, 20, 20, 0.6);
        backdrop-filter: blur(24px);
        margin-top: 7vh;
    }

    #mobMenu {
        display: inline;
        background-color: transparent;
        color: orange;
        cursor: pointer;
        border-radius: .6rem;
        font-size: 18pt;
        margin-left: 3vw;
    }
    #menu #quickLinks{
        width: inherit;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: .7rem;
    }
    #menu #quickLinks li{
        list-style-type: none;
        padding: .7rem;
    }

    #content{
        margin: 0;
    }

    .tableHolder{
        position: absolute;
        height: 70vh;
        width: 90vw;
        overflow-x: auto;
        border-radius: .6rem;
    }

    #detailsHolder{
        z-index: 3;
    }

    #admin_menu{
        float: right;
        background-color: rgba(45, 49, 255);;
        color: white;
        margin-top: .7rem;
        height: 30;
        padding: .3rem;
        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
        z-index: 5;
    }

    #sidebar{
        background-color: rgba(219, 219, 219, 0.541);
        backdrop-filter: blur(24px);
        position: absolute;
        margin-left: -60vw;
        z-index: 4;
    }

    #menu{
        margin-top: 3rem;
    }
}