* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);
    color: rgb(17, 17, 17);
    font-size: 14pt;
}

a {
    text-decoration: none;
}

#sidebar {
    position: fixed;
    background-color: rgb(56, 56, 56);
    padding: 1rem;
    height: 100vh;
}

#sidebar ul li {
    list-style-type: none;
    padding: .7rem;
    border-radius: .6rem;
    margin: .3rem;
    background-color: rgb(71, 71, 71);
}

#sidebar ul li:hover,
#sidebar ul .active {
    background-color: rgb(255, 190, 68);
    cursor: pointer;
}

.inactive a,
.inactive {
    color: rgb(230, 230, 230);
}

.inactive:hover,
.inactive:hover>a {
    color: rgb(17, 17, 17);
}

#content {
    margin-left: 15vw;
}

#details {
    background-color: rgb(243, 243, 243);
    margin: 1rem;
    width: 80vw;
    position: absolute;
    border-radius: 0.6rem;
}

#details tr:nth-child(even) {
    background-color: #d1d1d1;
}

#details tr {
    border-bottom: 1px solid rgb(187, 187, 187);
}

#details tr:last-child {
    border-bottom: none;
}

#details tr:last-child {
    border-bottom: 0px solid transparent;
}

#details tr:last-child td:last-child {
    border-bottom-right-radius: .6rem;
}

#details tr:last-child td:first-child {
    border-bottom-left-radius: .6rem;
}

#details td {
    text-align: center;
}

#details,
#details th,
#details td {
    padding: 1rem;
    border-collapse: collapse;
}

#details tr {
    text-align: center;
}